<div class="form-background">
  <div class="edit-user-title">
    <% if user_signed_in? && current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class:'avatar-large', alt:'avatar' %>
  <% else %>
    <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  <% end %>
    <h2><%= @user.first_name %></h2>
  </div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="user-update">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                placeholder: "leave blank if you don't want to change",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="user-update">
    <div class="password-confirmation">
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    </div>
    <%= f.input :current_password,
                placeholder: "needed to confirm your change",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    </div>
  </div>
  <div class="form-update">
  <div class="form-actions">
    <%= f.button :submit, "Update", class:"btn btn-primary" %>
  </div>
<% end %>
</div>
<div class="form-bottom">
<%= link_to "Back", :back %>
<%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>
</div>

