<h1 class="building-index-h1">All tasks</h1>

<% if current_user.renter == false %>
  <% @tasks.each do |task| %>
    <div class="card-product-s">
      <div class="card-product-infos">
        <div class="task-line-one">
          <div class="task-label">
            <p>Task</p>
          </div>
          <p class="pe-tag">
            <%= task.title %>
          </p>
        </div>
        <div class="task-line-one">
          <div class="task-label">
            <p>Status</p>
          </div>
          <p class="pe-tag">
            <% if task.status == false %>
              Incomplete
            <% else %>
              Complete
            <% end %>
          </p>
        </div>
        <div class="task-line-one">
          <div class="task-label">
            <p>Urgency</p>
          </div>
          <p class="pe-tag">
            <%= task.urgency %>
          </p>
        </div>
        <div class="task-line-one">
          <div class="task-label">
            <p class="pe-tag">Renter:</p>
              <p>
                <% if task.unit.user != nil %>
                <%= task.unit.user.first_name %><%= task.unit.user.last_name %>
                <% end %>
              </p>
          </div>
        </div>
      </div>
      <% if task.status == false %>
        <div class="task-middle-s">
          <div class="card-title-top">
            <p><strong><%= task.building.address %> -
              <% if task.unit.unit_number? %>
                <%= task.unit.unit_number %>
              <% end %></strong>
            </p>
            <p><strong><%= task.created_at %></p></strong>
          </div>
          <div class="task-description">
            <div class="task-description-s">
              <p>Description: <%= task.description  %></p>
            </div>
          </div>
        </div>
        <div class="right-side-card">
          <div class="edit-status">
              <a <%= link_to "Mark task as complete", update_status_task_path(task), method: :patch %></a>
            <a href="<%= edit_task_path(task) %>">
              <i class="fas fa-pencil-alt task-pen"></i>
            </a>
          </div>
          <div class="img-s">
             <% if task.photos.exists? %>
              <% task.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height:100 %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

<% else %>

    <% @tasks.each do |task| %>
    <div class="card-product-s">
      <div class="card-product-infos">
        <div class="task-line-one">
          <div class="task-label">
            <p>Task</p>
          </div>
          <p>
            <%= task.title %>
          </p>
        </div>
        <div class="task-line-one">
          <div class="task-label">
            <p>Status</p>
          </div>
          <p>
            <% if task.status == false %>
              Incomplete
            <% else %>
              Complete
            <% end %>
          </p>
        </div>
        <div class="task-line-one">
          <div class="task-label">
            <p>Urgency</p>
          </div>
          <p>
            <%= task.urgency %>
          </p>
        </div>
        <div class="task-line-one">
          <div class="task-label">
            <p>Submitted:</p>
          </div>
          <p><%= task.created_at %></p>
        </div>
      </div>
      <% if task.status == false %>
        <div class="task-middle-r">
          <div class="task-description-s">
              <h3 class="description">Description:</h3>
              <br>
              <p><%= task.description  %></p>
          </div>
        </div>
        <div class="right-side-card">
          <div class="img-s">
            <% if task.photos.exists? %>
              <% task.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height:100 %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
