<div class="container">
  <div class="form-background">
<h1>Tasks#create</h1>

<% if current_user.renter == false %>
  <%= simple_form_for [@task] do |f| %>
    <%= f.input :title, label: "Title" %>
    <%= f.input :description, label: "Describe your request" %>
    <div class="line-one">
      <%= f.input :urgency, label: "Urgency", input_html: { id: "urgency" }  %>
      <%= f.input :expense, label: "Expense", input_html: { id: "expense" } %>
    </div>
    <%= f.input :start_date, label: "Start date" %>
    <%= f.input :end_date, label: "End date" %>
    <%= f.input :contractor_id, label: "Contractor", collection: @contractors, as: :select %>
    <%= f.input :building_id, label: "Building", collection: @buildings, as: :select  %>
    <%= f.input :unit_id, label: "Unit", collection: @units, as: :select  %>

    <div class="line-two">
      <div class="contractor">
        <%= f.input :contractor_id, label: "Contractor", collection: @contractors, as: :select %>
    </div>
      <%= f.input :building_id, label: "Building", collection: @buildings, as: :select  %>
  </div>
    <%# <%= f.input :unit_id, label: "Unit", collection: @units, as: :select  %>
    <div class="uploads">

    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Upload photos" %>
    <%= f.input :bill_upload, as: :file, input_html: { multiple: true }, label: "Upload bill" %>
    </div>
    <div class="task-btn">
    <%= f.submit "Create a task", class:"btn btn-primary" %>
  </div>
  <% end %>
<% else %>
  <%= simple_form_for [@task] do |f| %>
    <%= f.input :title, label: "Title" %>
    <%= f.input :description, label: "Describe your request" %>
    <%= f.input :urgency, label: "Urgency"  %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Upload photos" %>
    <%= f.submit "Create a task", class:"btn btn-primary" %>
  <% end %>
<% end %>
</div>
</div>
