
<div class="navbar-r" id="navbar">
  <% if user_signed_in? && current_user.photo.attached? %>
      <%= link_to cl_image_tag(current_user.photo.key, class:'avatar', alt:'avatar'), edit_user_registration_path %>
  <% else %>
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  <% end %>
   <%= link_to '<i class="fas fa-house-user"></i>'.html_safe, welcome_path %>
</div>


<div class="sidenav-r">
  <div class="icons">
    <%= link_to '<i class="far fa-envelope"></i>'.html_safe, tasks_path %>
    <%# <%= link_to '<i class="fab fa-cc-stripe"></i>'.html_safe, buildings_path  %>
    <%= link_to '<i class="fas fa-plus"></i>'.html_safe, new_task_path %>
  </div>
</div>
