<div class="owner-dashboard">
  <div class="header">
    <h1>Welcome, <%= current_user.first_name %></h1>
  </div>
  <div class="dashboard-expenses-chart">
    <canvas id="roi-chart" data-roi-data="<%= @yearly.to_json %>"></canvas>
  </div>


  <div class="tasks">
      <div class="todo-btn">
        <h3 style="padding-left: 140px">Tasks to do</h3>
        <button class="plus-home" type="buttom"><i class="fas fa-plus"></i></button>
      </div>
      <ul class="list-group">
        <% @tasks.last(5).each do |task| %>
          <% if task.status != true %>
            <% if task.unit != nil %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Unit <%= task.unit.unit_number %> - <%= task.title %>
                <% if task.urgency == "High" %>
                  <span class="badge badge-info badge-pill"><%= task.urgency %></span>
                <% elsif task.urgency == "Medium" %>
                  <span class="badge badge-primary badge-pill"><%= task.urgency %></span>
                <% else %>
                  <span class="badge badge-warning text-white badge-pill"><%= task.urgency %></span>
                <% end %>
              </li>
            <% else %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Building - <%= task.title %>
              <% if task.urgency == "High" %>
                <span class="badge badge-info badge-pill"><%= task.urgency %></span>
              <% elsif task.urgency == "Medium" %>
                <span class="badge badge-primary badge-pill"><%= task.urgency %></span>
              <% else %>
                <span class="badge badge-warning text-white badge-pill"><%= task.urgency %></span>
              <% end %>
            </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

  <div class="profits-loss">
    <div class="total">
      <h3>Profit and Loss</h3>
      <p class="purchase-date"><%= Time.now.strftime("%B")  %></p>
      <p><%= number_to_currency(@roi) %></p>
    </div>

    <canvas id="profits-chart" data-profits-data="<%= @profits_loss.to_json %>"></canvas>
  </div>
</div>
