<div class="dashboard">
  <div class="header">
    <h1>Welcome, <%= current_user.first_name %></h1>
  </div>
  <div class="dashboard-expenses-chart">
    <canvas id="expense-chart" data-expense-data="<%= Task.all_buildings_expenses.to_json %>"></canvas>
  </div>


  <div class="tasks">
      <h3>Tasks to do</h3>
      <ul class="list-group">
        <% Task.last(5).each do |task| %>
          <% if task.status != true %>
            <% if task.unit != nil %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Unit <%= task.unit.unit_number %> - <%= task.title %>
                <% if task.urgency == "High" %>
                  <span class="badge badge-info badge-pill"><%= task.urgency %></span>
                <% elsif task.urgency == "Medium" %>
                  <span class="badge badge-primary badge-pill"><%= task.urgency %></span>
                <% else %>
                  <span class="badge badge-warning text-white badge-pill"><%= task.urgency %></span>
                <% end %>
              </li>
            <% else %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Building - <%= task.title %>
              <% if task.urgency == "High" %>
                <span class="badge badge-info badge-pill"><%= task.urgency %></span>
              <% elsif task.urgency == "Medium" %>
                <span class="badge badge-primary badge-pill"><%= task.urgency %></span>
              <% else %>
                <span class="badge badge-warning text-white badge-pill"><%= task.urgency %></span>
              <% end %>
            </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

  <div class="profits-loss">
    <div class="total">
      <h3>Profit and Loss</h3>
      <p>$23,000</p>
      <p>This Month</p>
    </div>

    <div class="profit">
      <p>$40,000 </p>
        <svg width="354" height="38" viewBox="0 0 354 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="354" height="38" fill="#50A8AB"/>
        </svg>
    </div>
    <div class="loss">
      <p>$17,000</p>
      <svg width="234" height="38" viewBox="0 0 234 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="234" height="38" fill="#13547A"/>
      </svg>
    </div>
  </div>
</div>
