<div class="header-buildings">
  <p class="button-navigation" id="previous">< previous</p>
  <p class="button-navigation" id="next">next ></p>
</div>

<% @buildings.each do |building| %>
  <div class="building-index">
    <h1><%= building.address %></h1>
      <div class="top-cards">
        <div class="information">
          <h3>Information</h3>
          <div id="home-page-info">
            <p style="font-size: 35px;"><%= number_to_currency(building.purchase_price, precision: 0) %></p>
            <p><%= '<i <i class="far fa-building"></i>'.html_safe %>  <strong><%= building.units.count %></strong> units</p>
            <p><%= '<i class="fas fa-file-invoice-dollar"></i>'.html_safe %>  <strong><%= number_to_currency(Task.calculate_overall_expenses_for_building(building)) %></strong> of expenses</p>
            <p><%= '<i class="fas fa-percentage"></i>'.html_safe %>  <strong><%= number_to_currency(building.taxes) %></strong> of taxes to pay</p>
            <p class="purchase-date">since <strong><%= building.purchase_date %></strong></p>
          </div>
        </div>
        <div class="accounting">
          <h3>Accounting</h3>
          <table class="building-accounting">
            <thead>
              <tr>
                <th>Income</th>
                <th><%= Time.now.strftime("%B")  %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rental Income</td>
                <td>
                  <%= number_to_currency(Unit.calculate_income(building)) %>
                </td>
              </tr>
              <tr>
                <th colspan="2">Expenses</th>
              </tr>
              <tr>
                <td>Mortgage</td>
                <td><%= number_to_currency(building.mortgage) %></td>
              </tr>
              <% if building.tasks.exists? %>
                <% Task.calculate_expenses_for_building(building).each do |expense| %>
                  <tr>
                    <% expense.each do |category, expense| %>
                      <% if expense > 0 %>
                        <td><%= category %></td>
                        <td><%= number_to_currency(expense) %></td>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              <tr>
              <% end %>
                <th>All expenses</th>
                <th>
                  <%= number_to_currency(Task.calculate_overall_expenses_for_building(building).to_i) %>
                </th>
              </tr>
              <th>Balance</th>
              <th><%= number_to_currency(Unit.calculate_income(building).to_i - Task.calculate_overall_expenses_for_building(building).to_i) %></th>
            </tbody>
          </table>
        </div>
      </div>
      <div class="bottom-cards">
        <div class="expenses">
          <h3>Expenses</h3>
          <p><%= Time.now.strftime("%B")  %></p>
          <% if building.tasks.exists? %>
            <canvas id="building-expense-chart" data-building-expense-data="<%= Task.calculate_expenses_array_for_building(building).to_json %>"></canvas>
            <%= link_to "Add a new expense", new_task_path %>
          <% else %>
            <p>No expenses yet</p>
            <%= link_to "Add an expense", new_task_path %>
          <% end %>
        </div>
        <div class="tasks-to-do col-sm-12 col-md-6">
          <h3>Tasks to do</h3>
          <ul class="list-group">
            <% if building.tasks.exists? %>
                <% building.tasks.each do |task| %>
                  <% if task.status != true %>
                    <% if task.unit != nil %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Unit <%= task.unit.unit_number %> - <%= task.title %>
                          <% if task.urgency == "High" %>
                            <span class="badge badge-info badge-pill"><%= task.urgency %></span>
                          <% elsif task.urgency == "Medium" %>
                            <span class="badge badge-primary badge-pill"><%= task.urgency %></span>
                          <% else %>
                            <span class="badge badge-warning text-white badge-pill"><%= task.urgency %></span>
                          <% end %>
                        </li>
                    <% else %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Building - <%= task.title %>
                      <% if task.urgency == "High" %>
                        <span class="badge badge-info badge-pill"><%= task.urgency %></span>
                      <% elsif task.urgency == "Medium" %>
                        <span class="badge badge-primary badge-pill"><%= task.urgency %></span>
                      <% else %>
                        <span class="badge badge-warning text-white badge-pill"><%= task.urgency %></span>
                      <% end %>
                    </li>
                    <% end %>
                  <% end %>
          </ul>
              <% end %>
              <div class="add-task-btn">
                <%= link_to "Add a new task", new_task_path %>
              </div>
              </ul>
              <% else %>
              <div class="add-task-btn">
                <%= link_to "Add a task", new_task_path %>
              </div>
            <% end %>
        </div>
      </div>

  <% if building.units.count > 0 %>
    <h3>Units</h3>
  <% end %>

  <div class="collapse-menu">
      <% building.units.each do |unit| %>
        <div class="dropdown">
          <button class="btn accordion col-12 d-flex justify-content-between">
            <%= unit.unit_number%>
            <i class="fas fa-chevron-down"></i>
          </button>
        <div class="panel">
              <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <div class="dropdown-title">
                  <h5>Information</h5>
                  <%= link_to building_unit_path(building, unit) do %>
                      <i class="fas fa-pencil-alt"></i>
                    <% end %>
                  </div>
                <p><%= '<i class="fas fa-bed"></i>'.html_safe %> <strong>Bedrooms:</strong> <%= unit.bedrooms %></p>
                <p><%= '<i class="fas fa-bath"></i>'.html_safe %> <strong>Bathrooms:</strong> <%= unit.bathrooms %></p>
                <p><%= '<i class="fas fa-pencil-ruler"></i>'.html_safe %> <strong>Sqm:</strong> <%= unit.square_meters %></p>
                <p><%= '<i class="far fa-calendar-minus"></i>'.html_safe %> <strong>Lease end date:</strong> <%= unit.renewal_date %></p>
                <p><%= '<i class="fas fa-money-check-alt"></i>'.html_safe %> <strong>Rent:</strong> $<%= unit.rent_amount %></p>
                <p><%= '<i class="fas fa-university"></i>'.html_safe %> <strong>Purchase price:</strong> $<%= unit.purchase_price %></p>
              </div>
            </div>
            <div class="card">
              <div class="card-body expenses-chart">
                  <% if unit.tasks.exists? %>
                    <div class="dropdown-title">
                    <h5>Expenses</h5>
                    <%= link_to new_task_path do %>
                    <i class="fas fa-pencil-alt"></i>
                    <% end %>
                </div>
                    <canvas id="unit-expense-chart" data-unit-expense-data="<%= Task.calculate_expenses_array_for_unit(unit).to_json %>" height="300"></canvas>
                  <% else %>
                  <div class="dropdown-title">
                    <h5>No expenses yet</h5>
                    <%= link_to new_task_path do %>
                    <i class="fas fa-pencil-alt"></i>
                  </div>
                    <% end %>
                  <% end %>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <% if unit.user != nil %>
                  <h5 class="card-title">Tenant</h5>
                  <p class="card-text"><%= unit.user.first_name %> <%= unit.user.last_name %></p>
                  <p class="card-text"><%= unit.user.email %></p>
                  <%= link_to "Edit tenant", edit_tenant_path(unit.user) %>
                <% else %>
                <div class="dropdown-title">
                  <h5>No tenant</h5>
                    <%= link_to new_tenant_path do %>
                    <i class="fas fa-pencil-alt"></i>
                    <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      </div>

      <div class="building-btn">
        <p><%= link_to "Add a unit", new_building_unit_path(building, {from: "building_show"}), class: "btn btn-primary" %></p>
      </div>
        <p class=""> <%= link_to "edit this building", edit_building_path(building), class:"btn btn-secondary btn-sm"%> <%= link_to "delete this building", building_path(building), data: { confirm: "Are you sure to delete #{building.address} ?" }, method: :delete, class:"btn btn-danger btn-sm" %></p>
    </div>
<% end %>
