<div class="form-background">

  <h1>Add building</h1>

  <%= simple_form_for [@building] do |f| %>
    <%= f.input :address, label: "Address" %>
    <%= f.input :mortgage, label: "Mortgage" %>
    <%= f.input :purchase_price, label: "Purchase price" %>
    <%= f.input :purchase_date, label: "Purchase date" %>
    <%= f.submit "Create a building", class:"btn btn-primary" %>
  <% end %>
</div>
