<div class="container-contacts">
    <div class="contact-hearder">
      <div class="header-plus"><h1>Contractors</h1>
        <%= link_to new_contractor_path do %>
          <i class="fas fa-plus plus"></i>
        <% end -%>
      </div>
      <div class="searchbar"><input type="text" name="search" placeholder="Search.."></div>
    </div>

    <% @contractors.each do |contractor| %>
    <div class="contractors-list">
      <div class="grid">
        <div><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"></div>
        <div class="name-sp">
          <p><strong><%= contractor.first_name %> <%= contractor.last_name %></strong></p>
          <p><%= contractor.speciality %></p>
        </div>
        <div class="num-email">
          <p>Phone Number: <%= contractor.phone_number %></p>
          <p>Email: <%= contractor.phone_number %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

