<div class="form-background">

  <h1>Contractors list</h1>
  <% @contractors.each do |contractor| %>
  <ul class="list-group contractors">
  <div class="row justify-content-between">
    <h3><%= contractor.first_name %> <%= contractor.last_name %></h3>
    <a href="<%= edit_contractor_path(contractor) %>">
      <i class="fas fa-pencil-alt"></i>
    </a>
  </div>
    <li class="list-group-item">Speciality: <%= contractor.speciality %></li>
    <li class="list-group-item">Phone Number: <%= contractor.phone_number %></li>
  </ul>
  <% end %>
  <%= link_to "Add a contractor", new_contractor_path, class:"btn btn-primary" %>
</div>
