<h1>Contractors#new</h1>

<%= simple_form_for [@contractor] do |f| %>
  <%= f.input :first_name, label: "First Name" %>
  <%= f.input :last_name, label: "Last Name" %>
  <%= f.input :speciality, label: "Speciality" %>
  <%= f.input :phone_number, label: "Phone Number" %>
  <%= f.submit "Create a contractor", class:"btn btn-primary" %>
<% end %>
