<div class="form-background">
  <h1>Add unit</h1>

  <%= simple_form_for [@building, @unit] do |f| %>
    <%= hidden_field_tag :from, params[:from] %>
    <%= f.input :unit_number, label: "Unit number" %>
    <%= f.input :square_meters, label: "Size (in square meters)" %>
    <%= f.input :bedrooms, label: "Number of bedrooms" %>
    <%= f.input :bathrooms, label: "Number of bathrooms" %>
    <%= f.input :purchase_price, label: "Purchase price" %>
    <%= f.input :payment_method, label: "Payment method" %>
    <%= f.input :renewal_edate, as: :date, label: "Start Date:", start_year: Date.today.year, order: [:day, :month, :year], html5: true, input_html: { min: Date.today.to_s, value: Date.today.to_s } %>
    <%= f.input :rent_amount, label: "Rent amount" %>
    <%= f.input :payment_date, label: "Payment day" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :lease, as: :file, label: "Lease contract" %>
    <div class="task-btn">
      <%= f.submit "Create an unit", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
