<h1>Units#show</h1>
<p>Find me in app/views/units/show.html.erb</p>

<p>Unit number: <%= @unit.unit_number %></p>
<p>Purchase price: <%= @unit.purchase_price %></p>
<p>Payment method: <%= @unit.payment_method %></p>
<p>Renewal date: <%= @unit.renewal_date %></p>
<p>Rent amount: <%= @unit.rent_amount %></p>
<p>Payment day: <%= @unit.payment_date %></p>

<% if @unit.photos.attached? %>
  <% @unit.photos.each do |photo| %>
    <%= cl_image_tag photo.key, weigh: 200, height: 200, crop: :fill %>
  <% end %>
<% end %>

<%= link_to "download the leasing contract", units_lease_path(@unit), target: "_blank" %>
<p><%= link_to "Edit this unit", edit_building_unit_path(@building.id, @unit.id), class:"btn btn-primary"%></p>
<p><%= link_to "Delete this unit", unit_path(@unit.id), data: { confirm: "Are you sure to delete the unit number #{@unit.unit_number} ?" }, method: :delete, class:"btn btn-secondary"%></p>
