<div class="container">
  <div class="unit-id-header">
  <h1>Unit <%= @unit.unit_number%></h1>
  </div>

<div class="unit-page row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <% if @unit.photos.attached? %>
      <div id="unitCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @unit.photos.first.key, height: 250, crop: :fill %>
          </div>

          <div class="carousel-item">
            <%= cl_image_tag @unit.photos.second.key, height: 250, crop: :fill %>
          </div>

          <div class="carousel-item">
            <%= cl_image_tag @unit.photos.third.key, height: 250, crop: :fill %>
          </div>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#unitCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>
  </div>

    <div class="top-unit-card col-sm-12 col-md-6 col-lg-8 row">
      <h3>Unit Information</h3>
      <div class="unit-information">
        <div class="unit-info-row">
          <div class="column col-4">
            <div class="unit-info-title">
              <p>Purchase price</p>
            </div>
          <p> $<%= @unit.purchase_price %></p>
        </div>
        <div class="column col-4">
          <div class="unit-info-title">
            <p>Rent amount</p>
          </div>
          <p><%= @unit.rent_amount %></p>
        </div>
          <div class="column col-4">
            <div class="unit-info-title">
              <p>Expenses</p>
            </div>
            <p>None</p>
          </div>
        </div>
        <div class="unit-info-row">
          <div class="column col-4">
            <div class="unit-info-title">
              <p>SQ M</p>
            </div>
            <p><%= @unit.square_meters %></p>
          </div>
          <div class="column col-4">
            <div class="unit-info-title">
              <p>Bathrooms</p>
            </div>
            <p><%= @unit.bathrooms %></p>
          </div>
          <div class="column col-4">
            <div class="unit-info-title">
              <p>Bedrooms</p>
            </div>
            <p><%= @unit.bedrooms %></p>
          </div>
          <% if @unit.lease != nil %>
            <p class="col-12 align-self-center"> <%= link_to "Download leasing contract", units_lease_path(@unit), target: "_blank", class: "btn btn-primary" %></p>
        <% end %>
        </div>
      </div>
    </div>
</div>


<div class="unit-page row">
    <div class="lease-info">
      <p>Renewal date: <%= @unit.renewal_date %></p>
      <p>Payment day: <%= @unit.payment_date %></p>
    </div>
    <div class="first-tenant col-lg-8 col-md-8 col-sm-12">
      <h3>Tenant infos</h3>
      <% if @unit.user != nil %>
        <p>Name: <%= @unit.user.first_name %> <%= @unit.user.last_name %></p>
        <p>Email: <%= @unit.user.email %></p>
        <p>Number: <%= @unit.user.phone_number %> </p>
      <% else %>
        <p>No tenant</p>
        <div class="task-btn">
        <%= link_to "Add a tenant", new_tenant_path, class:"btn btn-primary" %>
      </div>
      <% end %>
    </div>
</div>

  <div class="row unit-btn">
    <p><%= link_to "Edit this unit", edit_building_unit_path(@building.id, @unit.id), class:"btn btn-primary c"%></p>
    <p><%= link_to "Delete this unit", unit_path(@unit.id), data: { confirm: "Are you sure to delete the unit number #{@unit.unit_number} ?" }, method: :delete, class:"btn btn-primary c"%></p>
  </div>
</div>
